.buttons {
  background-color: var(--color-white);
  color: var(--color-pink);
  border: solid 1px var(--color-pink);
  border-radius: 30px;
  padding: 1rem 2rem;

  font-family: var(--font-family-montserrat), sans-serif;
  text-decoration: none;
  margin: 0 1rem;
  display: block;
  width: fit-content;
  font-size: 1.125rem;
  text-transform: uppercase;

  transition: background-color 0.35s ease,
  color 0.35s ease,
  transform 0.2s ease;
}

.buttons:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}