:root{
  --font-family-montserrat: 'Montserrat';
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../../assets/fonts/Montserrat-VariableFont_wght.ttf') format('TrueType');
  font-weight: 400;
  font-style: normal;
}