.sro {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

span {
  color: var(--color-yellow);
}

body {
  font-family: Arial, "Times New Roman", "Bitstream Charter", Times, serif;
}

html {
  overscroll-behavior: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.all-buttons {
  display: flex;
  background-color: var(--color-dark-green-2);
  justify-content: flex-end;
  padding: 2rem;
}



