.sro {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-family: Arial, "Times New Roman", "Bitstream Charter", Times, serif;
}



.buttons {
  background-color: #2D0C1F;
  color: #F33EAA;
  padding: 0.813rem 1.25rem;

  font-family: var(--font-family-alberSansLight), sans-serif;
  text-decoration: none;
  margin: 0 1rem;

  display: block;
  width: fit-content;
  font-size: 1.25rem;

  transition: background-color 0.35s ease,
  color 0.35s ease,
  transform 0.2s ease;
}

.buttons:hover {
  background-color: #F33EAA;
  color: #2D0C1F;
}


@media screen and (min-width: 1024px) {
  h1 {
    font-family: var(--font-family-funnelSans), sans-serif;
    font-weight: lighter;
    font-size: 6.25rem;
    background-color: var( --color-dark-green);
    padding: 7.5rem 11.438rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-white);
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  h1 {
    font-family: var(--font-family-funnelSans), sans-serif;
    font-weight: lighter;
    font-size: 5rem;
    background-color: var( --color-dark-green);
    padding: 3rem 3rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-white);
    letter-spacing: 1px;
  }
}
@media (max-width: 600px) {
  h1 {
    font-family: var(--font-family-funnelSans), sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    background-color: var( --color-dark-green);
    padding: 3rem 3rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-white);
    letter-spacing: 1px;
  }
}
