:root {
  --font-family-arial: Arial, "Times New Roman", "Bitstream Charter", Times, serif;
  --font-family-funnelSans: 'Funnel Sans', sans-serif;

  --color-light-green: #E9F1E4;
  --color-green: #d4e8cc;
  --color-dark-green: #4B8A7F;
  --color-white: #FFFFFF;
  --color-dark-green-2: #447C71;
  --color-yellow: #FFF700;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../../../assets/fonts/FunnelSans-Light.ttf') format('TrueType');
  font-weight: 200;
  font-style: normal;
}

